# Flutter
.dart_tool/
.packages
build/
pubspec.lock
old_app_midnightdancer/
midnight_dancer_web_debug.zip
# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/.kotlin/
android/local.properties
android/key.properties
android/**/build/
*.keystore
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Сгенерированные файлы
*.g.dart
*.freezed.dart





























































































































